$border-color: #b5b8bb;
$table-border-color: #c4c4c4;

.card {
  border: 1px solid $border-color;
  border-radius: 8px;
}

.form-select {
  border-radius: 6px;
}

.table {
  border: 1px solid $table-border-color;
}

.table th,
.table td {
  border: 1px solid $table-border-color;
}

.table-responsive {
  border: 1px solid $table-border-color;
  border-radius: 6px;
}

.badge {
  font-size: 0.8rem;
}

.pagination .page-link {
  border-radius: 6px;
  margin: 0 2px;
}

h1 {
  text-align: center;

}

.table td:first-child {
  text-align: center;
}

.table td:nth-child(2) {
  text-align: center;
  white-space: nowrap;
}
.table th {
  white-space: nowrap;
}
