<app-navigation></app-navigation>
<p>home works!</p>
<button class="btn btn-primary">Bootstrap gomb</button>
<button type="button" class="btn btn-danger">Danger</button>

<div class="panel panel-default">
  <div class="panel-body">A Basic Panel</div>
</div>
<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

<!-- ikonok -->
<div class="p-3 mb-3 border">
  <h5>Ikon teszt:</h5>
  <i class="bi bi-person-fill"></i> Személy
  <i class="bi bi-lock-fill ms-3"></i> Lakat
  <i class="bi bi-key-fill ms-3"></i> Kulcs
  <i class="bi bi-check-circle ms-3"></i> Pipa
</div>
